:root {
    --black: rgb(26, 26, 26);
    --white-font: white;
    --card-font-color: rgb(49, 49, 49);
    background-color: lightgray;
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    background-color: lightgray;
}

/* Sidebar content */

.sidebar {
    display: grid;
    grid-row: 1 / -1;
    background-color: var(--black);
    grid-template-rows: 10% 1fr 1fr;
    min-width: 50%;
    color: var(--white-font);
}

.nslogo {
    height: auto;
    width: 90%;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.section1 {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-row: 2;
    align-items: center;
    list-style: none;
}



.section2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 5fr;
    list-style: none;
}


/* Header content */
.header {
    background-color: white;
    display: grid;
    grid-template-columns: 1% min-content 3fr 1fr;
    grid-template-rows: min-content 1fr;
    align-items: center;
    gap: 15px;
    padding: 10px;
    box-shadow: 0 5px 5px -2px rgba(0, 0, 0, 0.1);

}

img[src="icons/search_black_24dp.svg"] {
    justify-self: end;
    grid-column: 2;
}



#search {
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
    border: none;
    padding: 8px;
    max-width: 700px;
}

.header-section2 {
    display: grid;
    gap: 30px;
    grid-template-columns: min-content min-content 1fr;

}

img[src="icons/notifications_black_24dp.svg"] {
    align-self: center;
}


.profile-pic {
    justify-self: center;
    height: 50px;
    width: 50px;
    max-height: 50px;
    max-width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url("icons/logo.jpg");
    background-size: 100%;

}

.account-name1 {}

.account-name2 {
    justify-self: flex-start;
    align-self: flex-end;
    position: relative;
}

.account-name2 span {
    position: absolute;
    bottom: 30px;
}

.profile-pic2 {
    width: 70px;
    height: 70px;
    max-height: 70px;
    max-width: 70px;
    border-radius: 50%;
    border: 1px black solid;
    background-image: url("icons/logo.jpg");
    background-size: 100%;
    margin-left: 30px;
}

.header-row2 {
    display: flex;
    width: 100%;
    grid-column: 1 / -1;
    justify-content: space-between;

}

.header-row2 span {
    font-weight: 1;
    font-size: 1rem;
}

.row2-section1 {
    display: flex;
    gap: 30px;
}

.row2-section2 {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 100px;
}

.row2-section2 button {
    padding: 10px 35px;
    border-radius: 15px;
    border: none;
}

/* Main Content */
.main-content {
    margin: 20px;
    margin-top: 35px;
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: lightgray;
    display: grid;
    gap: 15px;
    grid-template-areas:
        "project project project project project anouncement"
        "project project project project project trending";
}



.projects {
    grid-area: project;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 100%));
    grid-template-rows: repeat(3, minmax(300px, 100%));
}

.projects .title {
    position: absolute;
    top: -35px;
    left: 20px;
}

.card {
    display: grid;
    border-left: black 10px solid;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

.card p {
    color: var(--card-font-color);
}

.card div {
    justify-self: end;
}

.card img {
    margin-left: 15px;
}

/* Main content Announcements */
.announcements {
    position: relative;
    grid-area: anouncement;
    border-radius: 10px;
    margin: 20px;
    background-color: rgb(255, 255, 255);
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

#noborder {
    border-top: none;
}

.announcement-card {
    display: flex;
    flex-wrap: wrap;

}

.announcements .title {
    position: absolute;
    top: -55px;
}

.announcements p {
    width: 80%;
    margin-left: 25px;
    text-align: center;
    margin-top: -20px;
    color: var(--card-font-color);
}

.announcements h4 {
    border-top: gray 2px solid;
    text-align: center;
    padding-top: 15px;

}

/* Main content Trending */

.trending {
    position: relative;
    grid-area: trending;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;

}

.trending div {
    display: grid;
    position: relative;
    grid-template-columns: min-content 2fr;
    width: 150px;
}

.trending img {
    margin-right: 15px;
    align-self: center;
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
    margin-left: 25px;
}

.trending p {
    position: absolute;
    top: 25px;
    color: var(--card-font-color);
}

.trending .title3 {
    position: absolute;
    top: -55px;
}